In [13]:
import pandas as pd
import numpy as np
import seaborn as sns

In [18]:
train = pd.read_csv('C:/Users/diaco/OneDrive/Desktop/FinalProject/data/Constraint_English_Train.csv')
test = pd.read_csv('C:/Users/diaco/OneDrive/Desktop/FinalProject/data/Constraint_English_Test.csv')

In [20]:
train.head()

   id                                              tweet label
0   1  The CDC currently reports 99031 deaths. In gen...  real
1   2  States reported 1121 deaths a small rise from ...  real
2   3  Politically Correct Woman (Almost) Uses Pandem...  fake
3   4  #IndiaFightsCorona: We have 1524 #COVID testin...  real
4   5  Populous states can generate large case counts...  real

In [21]:
test.head()

   id                                              tweet
0   1  Our daily update is published. States reported...
1   2             Alfalfa is the only cure for COVID-19.
2   3  President Trump Asked What He Would Do If He W...
3   4  States reported 630 deaths. We are still seein...
4   5  This is the sixth time a global health emergen...

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6420 non-null   int64
 1   tweet   6420 non-null   object
 2   label   6420 non-null   object
dtypes: int64(1), object(2)
memory usage: 150.6+ KB

In [24]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2140 non-null   int64
 1   tweet   2140 non-null   object
dtypes: int64(1), object(1)
memory usage: 33.6+ KB

In [27]:
train.isnull().sum()

id       0
tweet    0
label    0
dtype: int64

In [28]:
test.isnull().sum()

id       0
tweet    0
dtype: int64

In [29]:
tweets = list(train['tweet'])
labels = list(train['label'])